*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*limitando o limite da caixa à borda*/
}
html{
	height: 100%;
}

body {
	
	min-height: 100hv;
	display: flex;
	justify-content: center;
	align-items: center;
  
}


h1 {
	
	font-size: 16px;
	font-weight: bold;
}

p {
	font-size: 12px;
	padding: 10px;
	
}


