*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*limitando o limite da caixa à borda*/
}
html{
	height: 100%;
}

body {
	
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D6E1F0;
	font-family: outfit;
  
}


h1 {
	
	font-size: 20px;
	font-weight: 700;
}

p {
	font-size: 15px;
	padding: 10px;
	color: gray;
	font-weight: 400;
}

img {
	
	width: 100%;
	border-radius: 15px;
	
}

.container {
	border: none;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	width: 300px;
	background-color: white;
}
